.DS_Store
.Rhistory
*.lock

docs/public
docs/resources

#Hiding group volcanoes data files
teams/volcanoes/data/*

#Hiding group Andy_Matt data files
data/inclass/06.PCA/Andy_Matt/data/*

#outputs
teams/Submarine_Volcanoes/*/outputs

#hiding images folder for BoydHoward Alaska Glacier assignment
data/inClass/06.PCA/BoydHoward/images/*