/* Custom font */
body {
    font-family: 'IBM Plex Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Custom styles for definition lists */

dl dt {
    text-decoration: underline;
}

dl dd { 
    margin: 1rem 0 1rem 2rem;
}

/* Custom heading styles */
h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

/* Custom horizontal rule */
hr {
    border: none;
    border-top: 1px solid currentColor;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    &:before, &:after {
        content: none;
    }
}

/* Slide toggle button */
#toggle-slides {
    all: unset;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
}

/* Slide mode styles */
.slide.slide-mode {
    outline: 1px solid #333;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 0;
    min-height: 24rem;
    display: flex;
    flex-direction: column;
}

.slide.slide-mode h3 {
    text-align: left;
    margin-top: 0;
    flex: 0 0 auto;
}

.slide.slide-mode .slide-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
